<div class="container mt-5 w-25 shadow-lg p-3 mb-5 bg-body rounded ">
  <hr>
  <div class="title d-flex justify-content-center">
    <h2>Menu</h2>
  </div>
  <hr>
  <div class="button d-flex justify-content-center ">
    <button routerLink="/alumno" type="button" class="btn btn-primary mb-2 mt-3">Alumnos</button>
  </div>
  <div class="button d-flex justify-content-center ">
    <button routerLink="/profesor" type="button" class="btn btn-primary mb-2">Profesores</button>
  </div>
  <div class="button d-flex justify-content-center ">
    <button routerLink="/grado" type="button" class="btn btn-primary mb-2">Grados</button>
  </div>
</div>
